html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.content {
    flex: 1 0 auto;
}

.encabezado{
    display: flex;
    justify-content: space-around;

    text-align: center;
}

.logo{
    border: solid;
    border-radius: 50%;
    margin-top: 20px;

}
.imagen_i{
    border: solid black;
    border-radius: 50%;
    width: 35px;
    margin: 6px;

}

a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color del texto predeterminado */
}

.articulo{
    display: flex;
}


.principal{
  margin: 10%;
    text-align: center;
}


.pie{
    justify-content: center;
    width: 100%;
    height:100%;
    text-align: center;
    background-color: rgb(2, 128, 134);
}

#textopie{
    margin: 20px;
    font-size: small;
    color: aliceblue;
}

.carrusel{
    margin-top: 20%;
}



.carousel-inner img {
    max-width: 400px; /* ajusta el valor según sea necesario */
    margin: auto; /* centrar la imagen horizontalmente */
}



/* Estilo predeterminado para los botones del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
   
}

/* Media query para pantallas con un ancho superior a 500 píxeles */
@media (min-width: 600px) {
    /* Cambiar el color de fondo de los botones del carrusel a negro */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #000; /* Negro */
    }
}

@media (min-width: 600px) {
    /* Cambiar el color de fondo de los botones del carrusel a negro */
    .carrusel {
       margin-top:10% ;
    }
}
